---
import { getArticles } from '../../../lib/api';
import Article from '../../../components/Article.astro';
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths({ paginate }: any) {
  const data = await getArticles();
  return paginate(data, { pageSize: 10 });
}
const { page } = Astro.props;
console.log(page)
---

<Layout>
  <article class="prose lg:prose-xl mx-auto">
    <h1>Articles archive</h1>
    <div>
      <ul>
        {
          page.data.map((post: any) => (
            <li>
              <Article post={post} />
            </li>
          ))
        }
      </ul>
    </div>

    {page.url.prev && <a href={`/hackbg-prototype${page.url.prev}`}>Newer</a>}
    {page.url.next && <a href={`/hackbg-prototype${page.url.next}`}>Older</a>}
  </article>
</Layout>
