<header class="py-2 header">
  <div class="p-1 flex h-20 justify-between" id="nav-header">
      <a class="font-family-headings flex-shrink-0" href="/">
        <img
          src="/hack-logo.png"
          alt="hack-logo"
          class="h-20"
        />
      </a>
      <ul class="flex text-purple-500 items-center">
        <li class="ml-4">
          <a href="/hackbg-prototype/#home">Home</a>
        </li>
         <li class="ml-4">
          <a href="/hackbg-prototype#services">Services</a>
        </li>
         <li class="ml-4">
          <a href="/hackbg-prototype/">Use cases</a>
        </li>
         <li class="ml-4">
          <a href="/hackbg-prototype/#about">About us</a>
        </li>
         <li class="ml-4">
          <a href="/hackbg-prototype/blog">Blog</a>
        </li>
         <li class="mx-4">
          <a href="/hackbg-prototype/#contact">Get in touh</a>
        </li>
      </ul>
  </div>
</header>